.shape{
    transition-property: all;
    transition-duration: 200ms;
}

.cards:hover .shape{
    filter: drop-shadow(0px 0px 15px rgb(232, 229, 229));
}
.wave{
    transition-property: all;
    transition-duration: 200ms;
    opacity:0;
}
.cards:hover .wave{
    opacity:1; 
}

.section-2-cards:hover .section-2-shape{
    filter:drop-shadow(0px 0px 15px  rgb(0,0,0))
}
.section-2-cards:hover .wave{
    opacity:1; 
}

.companiesList{
    animation:10s infinite linear moveCompany;
}

@keyframes moveCompany{
    0%{
        top:0;
    }
    100%{
        top:-50%;
    }
}

